theme: minima
title: My Blog
description: Welcome to my Jekyll blog on GitHub Pages!
author: Your Name
url: "https://pkpkk.eu.org"
baseurl: "site" # the subpath of your site, e.g. /blog    
plugins:
  - jekyll-feed
  - jekyll-seo-tag
exclude:
  - Gemfile 
  - Gemfile.lock
  - node_modules
  - vendor/bundle
  - vendor/cache
  - vendor/gems
  - vendor/ruby
